:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecefa7;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bglight {
  background-color: var(--light);
}

.img-wrapper {
  height: 250px;
  overflow: hidden;
}

img {
  max-width: 250px;
}

h1,
h2,
h3 {
  font-family: 'Caprasimo', cursive;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

.summary-text {
  display: none;
}

@media screen and (min-width: 700px) {

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .card-container {
    justify-content: space-around;
  }

  .summary-text {
    display: flex;
  }

  img {
    max-width: 300px;
  }
}

@media screen and (min-width: 1000px) {

  /* section {
  width: 85vw;
  margin: auto;
} */
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

.cat-theme {
  background: #fff0eb;
  color: #130303;
}

@media (prefers-color-scheme: dark) {
  .cat-theme.adaptive {
    background: #130303;
    color: #ffcdbc;
  }
}