:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

body {
    background-color: var(--light);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}


h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.15rem;
}

.summary-text {
    display: none;
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .summary-text {
    display: flex;
}

}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 1.75rem;
    }
}

.cat-theme {
  background: #FFF0EB;
  color: #130303;
}
@media (prefers-color-scheme: dark) {
  .cat-theme.adaptive {
    background:#130303;
    color: #FFCDBC;
  }
}